<div class="card-balance-summary">
  <div class="card-header d-flex">
    <div class="p-2 flex-grow-1">Balance summary</div>
    <span class="week p-2" [ngClass]="{ 'active': activeBalance === 'week' }" (click)="setActiveBalance('week')">Week</span>
    <span class="month p-2" [ngClass]="{ 'active': activeBalance === 'month' }" (click)="setActiveBalance('month')">Month</span>
    <span class="year p-2" [ngClass]="{ 'active': activeBalance === 'year' }" (click)="setActiveBalance('year')">Year</span>
    <span class="other p-2" [ngClass]="{ 'active': activeBalance === 'other' }" (click)="setActiveBalance('other')">Other</span>
  </div>
  <div class="card-chart">
    <canvas  id="line" width="600" height="230"></canvas>
  </div>
  <div class="card-footer">
    <div class="total">Total balance:</div>
    <div class="dropdown">
      <span>29 480</span>
      <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false"
      [class.open]="isCurrencyDropdownOpen" (click)="toggleCurrencyDropdown()">
        USD</button>
      <ul class="dropdown-menu">
        <li><button class="dropdown-item" type="button">UAH</button></li>
        <li><button class="dropdown-item" type="button">EUR</button></li>
        <li><button class="dropdown-item" type="button">BTC</button></li>
      </ul>
    </div>
  </div>
</div>
