.col {
  margin-right: 40px;
  margin-left: 40px;

  span {
    font-size: 11px;
    color: rgba(255, 255, 255, 0.379);
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
  }
  
  img {
    margin-left: 2px;
  }
  
}
