<div class="d-flex">
  <sidebar-menu></sidebar-menu>

  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <card balance="150 000" currency="UAH" number="2132  8732  2347  3478" expirationDate="07/20" iconSrc="assets\imgs\Mastercard.svg"></card>
      </div>
      <div class="col">
        <card balance="12 180" currency="USD" number="8346  5248  6232  7813" expirationDate="10/24" iconSrc="assets\imgs\visa.svg"></card>
      </div>
      <div class="col">
        <card balance="8 305" currency="EUR" number="5438  2343  0474  7324" expirationDate="14/28" iconSrc="assets\imgs\Payoneer.svg"></card>
      </div>
      <div class="col">
        <card balance="2.023172" currency="BTC" number="6534  9823  9234  0347" expirationDate="08/26" iconSrc="assets\imgs\btc.svg"></card>
      </div>
    </div>

    <div class="row">
      <div class="col-6">
        <balance-summary></balance-summary>
        <expense-categories></expense-categories>
      </div>
      
      <div class="col-6">
        <history></history>
      </div>
    </div>
    
  </div>
</div>
