.sidebar-menu {
  width: 150px;
  height: 100%;
  background-color: #373737;
  text-align: center;
  .navbar {
    align-items: start;
    padding-top: 55px;
    ul.navbar-nav {
      width: 100%;

    }
  }
}