<div class="transactions">
  <ul class="nav justify-content-end">
    <div class="transfer" (click)="onShowTransferForm()">
      <transaction-item label="MONEY TRANSFER" link="#"></transaction-item>
    </div>
    <div class="charge">
      <transaction-item label="CHARGE PHONE" link="#"></transaction-item>
    </div>
    <div class="replanish">
      <transaction-item label="REPLENISH CARD" link="#"></transaction-item>
    </div>
  </ul>
</div>

<div *ngIf="showTransferForm">
  <transfer-form (closeModal)="onCloseModal()"></transfer-form>
</div>
